// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as CustomersAPI from '../customers/customers';
import * as EntitlementsAPI from '../entitlements/entitlements';
import * as ActionsAPI from './actions';
import { ActionRefundParams, Actions } from './actions';
import * as SubscriptionsAPI from '../subscriptions/subscriptions';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class Purchases extends APIResource {
  actions: ActionsAPI.Actions = new ActionsAPI.Actions(this._client);

  /**
   * This endpoint requires the following permission(s):
   * <code>customer_information:purchases:read</code>.
   *
   * @example
   * ```ts
   * const purchase = await client.projects.purchases.retrieve(
   *   'purc1a2b3c4d5e',
   *   { project_id: 'proj1ab2c3d4' },
   * );
   * ```
   */
  retrieve(
    purchaseID: string,
    params: PurchaseRetrieveParams,
    options?: RequestOptions,
  ): APIPromise<Purchase> {
    const { project_id } = params;
    return this._client.get(path`/projects/${project_id}/purchases/${purchaseID}`, options);
  }

  /**
   * Search for a one-time purchases by any of its associated
   * `store_purchase_identifier` values.
   *
   * For example, this may include the `transactionId` of any transaction in an Apple
   * App Store purchase, or any order ID from a Google Play Store purchase. This
   * endpoint requires the following permission(s):
   * <code>customer_information:purchases:read</code>.
   *
   * @example
   * ```ts
   * const listPurchases = await client.projects.purchases.list(
   *   'proj1ab2c3d4',
   *   { store_purchase_identifier: 'x' },
   * );
   * ```
   */
  list(
    projectID: string,
    query: PurchaseListParams,
    options?: RequestOptions,
  ): APIPromise<CustomersAPI.ListPurchases> {
    return this._client.get(path`/projects/${projectID}/purchases`, { query, ...options });
  }

  /**
   * Lists all Entitlements granted by a Purchase. This endpoint requires the
   * following permission(s): <code>customer_information:purchases:read</code>.
   *
   * @example
   * ```ts
   * const listEntitlements =
   *   await client.projects.purchases.listEntitlements(
   *     'purc1a2b3c4d5e',
   *     { project_id: 'proj1ab2c3d4' },
   *   );
   * ```
   */
  listEntitlements(
    purchaseID: string,
    params: PurchaseListEntitlementsParams,
    options?: RequestOptions,
  ): APIPromise<EntitlementsAPI.ListEntitlements> {
    const { project_id, ...query } = params;
    return this._client.get(path`/projects/${project_id}/purchases/${purchaseID}/entitlements`, {
      query,
      ...options,
    });
  }
}

/**
 * The store environment
 */
export type Environment = 'production' | 'sandbox';

export interface Purchase {
  /**
   * The id of the purchase
   */
  id: string;

  /**
   * The id of the customer
   */
  customer_id: string;

  entitlements: Purchase.Entitlements;

  /**
   * The store environment
   */
  environment: Environment;

  /**
   * String representing the object's type. Objects of the same type share the same
   * value.
   */
  object: 'purchase';

  /**
   * The ID of the original customer
   */
  original_customer_id: string;

  /**
   * Ownership of the purchase
   */
  ownership: SubscriptionsAPI.Ownership;

  /**
   * The ID of the offering the customer saw when they did the purchase
   */
  presented_offering_id: string | null;

  /**
   * The ID of the product that was purchased
   */
  product_id: string;

  /**
   * The date when the purchase was made in ms since epoch
   */
  purchased_at: number;

  /**
   * The quantity of the product purchased in one transaction
   */
  quantity: number;

  /**
   * The revenue generated by the purchase in USD
   */
  revenue_in_usd: SubscriptionsAPI.MonetaryAmount;

  /**
   * The status of a purchase
   */
  status: 'owned' | 'refunded';

  /**
   * Store the purchase belongs to
   */
  store: 'amazon' | 'app_store' | 'mac_app_store' | 'play_store' | 'promotional' | 'stripe' | 'rc_billing';

  /**
   * The store purchase identifier
   */
  store_purchase_identifier: string;

  /**
   * Billing country in ISO alpha 2 code
   */
  country?: SubscriptionsAPI.Country | null;
}

export namespace Purchase {
  export interface Entitlements {
    /**
     * Details about each object.
     */
    items: Array<EntitlementsAPI.Entitlement>;

    /**
     * URL to access the next page of the customer's entitlements. If not present /
     * null, there is no next page
     */
    next_page: string | null;

    /**
     * String representing the object's type. Objects of the same type share the same
     * value. Always has the value `list`.
     */
    object: 'list';

    /**
     * The URL where this list can be accessed.
     */
    url: string;
  }
}

export interface PurchaseRetrieveParams {
  /**
   * ID of the project
   */
  project_id: string;
}

export interface PurchaseListParams {
  /**
   * Store ID associated with the one-time purchase.
   */
  store_purchase_identifier: string;
}

export interface PurchaseListEntitlementsParams {
  /**
   * Path param: ID of the project
   */
  project_id: string;

  /**
   * Query param:
   */
  limit?: number;

  /**
   * Query param:
   */
  starting_after?: string;
}

Purchases.Actions = Actions;

export declare namespace Purchases {
  export {
    type Environment as Environment,
    type Purchase as Purchase,
    type PurchaseRetrieveParams as PurchaseRetrieveParams,
    type PurchaseListParams as PurchaseListParams,
    type PurchaseListEntitlementsParams as PurchaseListEntitlementsParams,
  };

  export { Actions as Actions, type ActionRefundParams as ActionRefundParams };
}
